<%- include('./partials/header.ejs') %>


<div class="row justify-content-center" style="height: 100vh;">
    <div class="col-6">
        
    </div>



    <div class="col-5 leftFeild">
        <div class="row loginBox">
            <div class="col-12 justify-content-center"> <h2 style="text-align: center;">BitGram</h2> </div>
            <div class="loginFeild" >
            <form action="/sessions" method="Post"  >
                <label >
                    <span>Username:</span>
                    <input type="text" name="username" >
                </label>
                <label>
                    <span>Password:</span>
                    <input type="password" name="password">
                </label>
                <div class=" logBttnBox">
                    <input type="submit" value="Log in" class="loginBttn">
                 </div>
            </form>
         </div>
        </div>



        <div class="signupBox ">
            <div class="signFeild">
                <div>
                    <p>Don't have an account?
                        <a href="/accounts/signup"><span> Sign Up</span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('./partials/footer.ejs') %>

