<%- include('./partials/header.ejs') %>



<h1> NEW  </h1>

<form action="/profile/<%= profileId %>" method="POST">
    <label></label>
        Caption
    </label>
    <input type="text" name="caption">

    <label>
        Add Photo
    </label>
    <input type="text" name="img">
    <input type="submit" value="Create New Post">
</form>

<!-- https://assets.pokemon.com/assets/cms2/img/pokedex/full/103.png -->


<%- include('./partials/footer.ejs') %>


