

/* *{
    border: 1px solid  black;
   
} */

.postContainer{
height: 90vh;
/* border: 1px solid red; */
display: grid;
grid-template-columns: 70% 30%;
grid-auto-rows:  auto;
/* grid-gap: 1em; */
height: 100vh;
grid-template-areas: 
"img section"
"img section "

;
/* border: 1px solid  black; */

}
.postShow{
    grid-area: img;
    height: 100%;
   
}
.postComment{
    grid-area: section;

}
.commentText{
    padding: 1rem;
    border: 1px solid darkgray;
    height: 100%;
    display:flex;
    justify-content: center;
}
.showImg{

    width:100%;
    height:100%;


}

    @media only screen and (max-width:550px){
        .postContainer{

            display: grid;
            grid-template-columns: auto;
            grid-auto-rows:  auto;
            /* grid-gap: 1em; */
            height: auto;
            grid-template-areas: 
            "img img"
            "img img "
            "section section"
            ;
            /* border: 1px solid  black; */
        
        

        }

        .postShow{
            grid-area: img;
        }
        .postComment{
            grid-area: section;

        }


    }
















