<%- include('../partials/header.ejs') %>


<div class="row justify-content-center" style="height: 100vh;">

    <div class="col-12">
        <div>
            <div> <h2>BitGram</h2> </div>
            <form action="/accounts" method="POST">
                <label>
                    <span>Full name</span>
                    <input type="text" name="fullname">
                </label>
                <label>
                    <span>Username</span>
                    <input type="text" name="username" >
                </label>
                <label>
                    <span>Password</span>
                    <input type="text" name="password">
                </label>
                <input type="submit" value="Sign up" >
            </form>
        </div>

        <div>
            <div>
                <p> Have an account?
                    <a href="/"><span> Log in</span></a>
                </p>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/footer.ejs') %>
